.App {
  text-align: center;
  /* background-color: #D9E5D6; */
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.logo {
  height: 5vmin;
}

.rowdies {
  font-family: 'Rowdies', cursive;
}

.cedar {
  font-family: 'Cedarville Cursive', cursive;
}

.try-again {
  color: red;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
}
100% {
    opacity: 1;
 }
}

.gotisch {
  font-family: 'Grenze Gotisch', cursive;
}

.pirata {
  font-family: 'Pirata One', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
